#page_wrapper.information_page
  %h1= t("information.in_the_news")

  .row
    .span8.offset2
      - @press_releases.each do |release|
        #press_release

          - if /^http/.match(release.link)
            - link = release.link
          - else
            - link = s3(release.link)

          = image_tag("icons/#{ (release.release_type == 'radio' ? 'speaker.jpeg' : 'pdf.gif') }", class: "left release_type", size: "35x40")
          %strong= link_to(release.title ? release.title : "Open persbericht", link , target: '_blank')
          %br
          %small= release.medium
          %small= l release.release_date
