.jumbotron
  %h1= raw t 'partners.main_title'
  %p= raw t 'partners.sub_title'

.row
  .span4
    .partners#primary_partners
      %a.category_header{"href" => "http://etcentral.dev/primary"}
        %h2{"style" => "text-align: center;"}= raw t  'partners.primary'
        = render partial: 'partner_logos', locals: { partners: Partner.primary }

  .span4
    .partners#knowledge_partners
      %a.category_header{"href" => "http://etcentral.dev/knowledge"}
        %h2{"style" => "text-align: center;"}= raw t  'partners.knowledge'
        = render partial: 'partner_logos', locals: { partners: Partner.knowledge }

  .span4
    .partners#education_partners
      %a.category_header{"href" => "http://etcentral.dev/education"}
        %h2{"style" => "text-align: center;"}= raw t  'partners.education'
        = render partial: 'partner_logos', locals: { partners: Partner.education }
