.jumbotron
  %h1= raw t 'partners.main_title'
  %p= raw t 'partners.sub_title'

.row
  .span4
    .partners#primary_partners
      #header
        %h2= raw t  'partners.primary'
        %a.category_header{href: "http://etcentral.dev/primary"}
          %i.icon-info-sign
      .visible-phone
        = render partial: 'partner_logos', locals: { partners: Partner.primary }

  .span4
    .partners#knowledge_partners
      #header
        %h2= raw t 'partners.knowledge'
        %a.category_header{href: "http://etcentral.dev/knowledge"}
          %i.icon-info-sign
      .visible-phone
        = render partial: 'partner_logos', locals: { partners: Partner.knowledge }

  .span4
    .partners#education_partners
      #header
        %h2= raw t  'partners.education'
        %a.category_header{href: "http://etcentral.dev/education"}
          %i.icon-info-sign
      .visible-phone
        = render partial: 'partner_logos', locals: { partners: Partner.education }

.row.hidden-phone
  .span4
    = render partial: 'partner_logos', locals: { partners: Partner.primary }
  .span4
    = render partial: 'partner_logos', locals: { partners: Partner.knowledge }
  .span4
    = render partial: 'partner_logos', locals: { partners: Partner.education }