.container
  .row
    .col
      .text-center.pt-6.pb-3.py-5
        %h1= raw t 'partners.main_title'
        %p.subtitle= raw t 'partners.sub_title'

  - %w{primary knowledge education}.each do |type|
    .row.pb-6
      .col.text-center
        .partners{id: "#{type}_partners"}
          #header
            %h4.mb-4
              = raw t  "partners.#{type}"
              %small
                %a.category_header{ href: partner_info_path(type.to_sym) }
                  = icon('fas', 'info-circle')
          = render partial: 'partner_logos', locals: { partners: Partner.send(type) }
