.jumbotron
  %h1= raw t 'partners.main_title'
  %p= raw t 'partners.sub_title'

.row
  - %w{primary knowledge education}.each do |type|
    .span4
      .partners{id: "#{type}_partners"}
        #header
          %h2
            = raw t  "partners.#{type}"
            %small
              %a.category_header{ href: partner_info_path(type.to_sym) }
                %i.icon-info-sign
        .visible-phone
          = render partial: 'partner_logos', locals: { partners: Partner.send(type) }

.row.hidden-phone
  - %w{primary knowledge education}.each do |type|
    .span4
      = render partial: 'partner_logos', locals: { partners: Partner.send(type) }