.row
  .span8.offset2
    %h1= t 'help.title'
%br
.row
  .span8.offset2
    %form{ :action => "/help/search", :method => :get }
      .input-append
        %input.span8{ name: 'q', type: "text", placeholder: "#{t 'help.placeholder' }" }
        %button.btn{ type: "submit" }
          %i.icon-search
.row
  .span8.offset2
    %table.span8.table.table-bordered.table-condensed.table-hover
      %thead
        %th= t 'help.faq'
      %tbody
        - @issues.each do |issue|
          %tr
            %td= link_to issue.article_title, article_path(issue.key)
.row
  .span8.offset2
    .information_page
      - @sections.each do |section|
        %h3.section-header= proper_capitalization(section)
        - @articles.select { |article| article.scrubbed_section == section }.each do |article|
          = link_to article.article_title, article_path(article.key), class: 'article'
          %br 