= render 'breadcrumb'

.row
  .span8.offset2
    #search_results
      = render partial: 'result_count', locals: { q: @q, results: @results }
      - if @results.empty?
        %h2.warning 
          = "Sorry, your search for '#{@q}' didn't return any articles"
      - else
        %h2= "Search Results"
        - @results.each do |result|
          = render partial: 'search_result', locals: { result: result }
