%h1 Privacy

%p= t('privacy.intro', mail_link: mail_to(energietransitie@quintel.com) ) # problem here

%h3= t('privacy.data_collection')

- t('privacy.data_content', link_en: link_to('www.energytransitionmodel.com'), link_nl: link_to('http://www.energietransitiemodel.nl/')).each_line do |text|
  = simple_format text
%h3= t('privacy.cookies_head')
%p= t('privacy.cookies')

%h3= t('privacy.objections_head')
%p= t('privacy.objections', mail_link: mail_to('energietransitie@quintel.com'), link_en: link_to('www.energytransitionmodel.com'), link_nl: link_to('http://www.energietransitiemodel.nl/')).each_line do |text|
  = simple_format t('privacy.objections')
