#page_wrapper
  %h1= t("header.prominent_users_of_etm")
  %article#prominent_users
    - @users.each do |key, user|
      - title = dutch? ? user["organization"]["function_nl"] : user["organization"]["function_en"]
      - url = user['scenario_id'] ? "http://www.energietransitiemodel.com/scenarios/#{user['scenario_id']}?locale=#{I18n.locale}" : '#'
      %div.user{id: key}
        %div.user_shot
          = link_to image_tag("prominent_users/#{key}.jpg"), url
        %h3
          %a.name{href:'#'}= truncate(user["name"], length: 24)
          %a.title{href: '#'}= truncate(title, length: 24)
          %a.organization{href:'#'}= truncate(user["organization"]["name"], length: 24)