%section#main

  %h1= raw t 'landing_page.title'
  %p=  raw t 'landing_page.explanation'

  .row#products

    %article.span4
      .product#etmobile
        %a.etmobile_link{ href: product_link(:quest), target: '_blank' }
          .mobile-holder
            = image_tag 'pages/root/screen_etmobile.png'
          %h2= raw t 'landing_page.etmobile.title'
          %p= raw t 'landing_page.etmobile.explanation'
          .btn-holder
            %a.btn.btn-primary{ href: product_link(:quest), target: '_blank' }
              Open
              = raw t 'landing_page.etmobile.title'

    %article.span4
      .product#etmodel
        %a.etmodel_link{ href: product_link(:pro), target: '_blank' }
          .img-holder
            = image_tag 'pages/root/screen_pro.png'
          %h2= raw t 'landing_page.etmodel.title'
          %p= raw t 'landing_page.etmodel.explanation'
          .btn-holder
            %a.btn.btn-primary{ href: product_link(:pro), target: '_blank' }
              Open
              = raw t 'landing_page.etmodel.title'

    %article.span4
      .product#etflex
        %a.etflex_link{ href: product_link(:light), target: '_blank' }
          .img-holder
            = image_tag 'pages/root/screen_light.jpg'
          %h2= raw t 'landing_page.etflex.title'
          %p= raw t 'landing_page.etflex.explanation'
          .btn-holder
            %a.btn.btn-primary{ href: product_link(:light), target: '_blank' }
              Open
              = raw t 'landing_page.etflex.title'

  .row#education
    %article
      .span2.hidden-phone
        %p
          %i.icon-group
      .span10
        %h2= t('landing_page.education.title')
        %p
          = raw t('landing_page.education.text')
        = link_to t('landing_page.learn_more_dutch_only'), "http://onderwijs.quintel.nl", target: "_blank"
  .clear
