%section#main

  %h1= raw t 'landing_page.title'
  %p=  raw t 'landing_page.explanation'

  .row#products

    %article.span4
      .product#etflex
        %a.etflex_link{ href:"#{ product_link(:etflex) }", target: '_blank' }
          .img-holder
            = image_tag 'pages/root/screen_light.jpg'
          %h2= raw t 'landing_page.etflex.title'
          %ul.specs
            %li.time{ title:"time required" }=         "~ 5 #{ t 'landing_page.minutes' }"
            %li.options{ title:"number of options" }=  "12 #{ t 'landing_page.sliders' }"
            %li=                                     "#{ t 'landing_page.free' }!"
          %p= raw t 'landing_page.etflex.explanation'

    %article.span4
      .product#etmodel
        %a.etmodel_link{ href:"#{ product_link(:pro) }", target: '_blank' }
          .img-holder
            = image_tag 'pages/root/screen_pro.jpg'
          %h2= raw t 'landing_page.etmodel.title'
          %ul.specs
            %li.time{ title: "time required" }=        "> 30 #{ t 'landing_page.minutes' }"
            %li.options{ title: "number of options" }= "> 250 #{ t 'landing_page.sliders' }"
            %li=                                    "#{ t 'landing_page.free' }!"
          %p= raw t 'landing_page.etmodel.explanation'

    %article.span4
      .product#mixer
        %a.mixer_link{href: "#{ product_link(:mixer) }?locale=#{ I18n.locale }", target: '_blank'}
          .img-holder
            = image_tag 'pages/root/screen_mixer.jpg'
          %h2= raw t 'landing_page.mixer.title'
          %ul.specs
            %li.time{ title:"time required" }=        "~ 10 #{ t 'landing_page.minutes' }"
            %li.options{ title:"number of options" }= "9 #{ t 'landing_page.questions' }"
            %li=                                    "#{ t 'landing_page.free' }!"
          %p= raw t 'landing_page.mixer.explanation'

  .row#education
    %article
      .span2
        %p
          %i.icon-group
      .span10
        %h2 Education is our middle name
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        = link_to 'Learn more', "http://edu.quintel.com", target: "_blank"
  .row#api
    %article
      .span10
        %h2 Put our engine in your own energy model
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        = link_to 'Learn more', "api"
      .span2
        %p
          %i.icon-cogs.pull-right
  .row#wattnu
    %article
      .span2
        %p
          %i.icon-desktop
      .span10
        %h2 &ldquo;Look mom, we're on TV!&rdquo;
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        = link_to 'Learn more', "http://www.wattnu.nl", target: "_blank"
  .row#quintel
    %article
      .span12
        %h2
          The Energy Transition Model is brought to you by the awesome peeps at Quintel Intelligence
        = render partial: 'people'
        = link_to 'Learn more', "http://www.quintel.nl", target: "_blank"
  .clear
