#page_wrapper
  %h1= t("header.prominent_users_of_etm")
  %article#prominent_users
    - @presets.each do |user|
      - title = dutch? ? user.function['nl'] : user.function['en']
      - url = user.scenario_id ? "http://www.energietransitiemodel.com/scenarios/#{ user.scenario_id }?locale=#{ I18n.locale }" : '#'
      %div.user{id: user.key}
        %div.user_shot
          = image_tag("prominent_users/#{ user.key }.jpg")
        %h3
          .info.name= truncate(user.name, length: 24)
          .info.title= truncate(title, length: 24)
          .info.organization= truncate(user.organization, length: 24)
        = link_to 'Open scenario', url, method: 'get', class: 'scenario_button btn'