%footer.border-top
  .container.text-center.py-6
    %small
      = t 'footer.copyright'
      %a{ href:'http://quintel.com', target: "_blank" }= t 'footer.about'
      %a{ href:'https://edu.quintel.com', target: "_blank"}= t 'footer.education'
      %a{ href:'/terms' }= t 'footer.terms'
      %a{ href:'/privacy' }= t 'footer.privacy'
      %a{ href:'/contact' }= t 'footer.contact'
