%footer
  .container
    %small
      = t 'footer.copyright'
      %a{ href:'http://quintel.com' }= t 'footer.about'
      %a{ href:'/disclaimer' }= t 'footer.terms'
      %a{ href:'/privacy' }= t 'footer.privacy'
      %a{ href:'/contact' }= t 'footer.contact'
