%nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  .container-md
    %a.navbar-brand{ href: "/" }
      = t('landing_page.etmodel.title')

    %button.navbar-toggler{ type: 'button', data: { toggle: 'collapse', target: '#main-navbar-content' } }
      %span.navbar-toggler-icon

    #main-navbar-content.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        - menu_items.each do |key, values|
          - if values.is_a?(Hash)
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle{ id: "main-navbar-#{key}", href: '#', data: { toggle: 'dropdown' } }
                = I18n.t("menu.#{ key.gsub(" ","_").downcase }")
              .dropdown-menu.shadow{ 'aria-labelledby' => "main-navbar-#{key}"}
                - values.each do |key, value|
                  = link_to(navbar_link(value), navbar_link_options(value)) do
                    = I18n.t("menu.#{key.gsub(" ","_").downcase}")
                    - if value.start_with?('http') or value.start_with?('product:')
                      = icon('fas', 'external-link-alt')
          - else
            %li.nav-item{ class:('navbar-active' if request.path.delete('/') == key.downcase || request.path.delete('/') == values) }
              - if values.blank?
                = link_to I18n.t("menu.#{key.gsub(" ","_").downcase}"), "/#{ key.downcase }", class: 'nav-link'
              - else
                = link_to I18n.t("menu.#{key.gsub(" ","_").downcase}"), navbar_link(values), class: 'nav-link'

      %span.navbar-text#language
        - other_locale = english? ? "nl" : "en"
        %small= link_to (t 'landing_page.other_language'), { locale: other_locale }, { class: other_locale }
