.navbar.navbar-fixed-top
  .navbar-inner
    .container

      %a.brand{href: "/"}
        Quintel Intelligence

      %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      .nav-collapse.collapse
        %ul.nav
          %li.divider-vertical
          - menu_items.each do |key, values|
            - if values.is_a?(Hash)
              %li.dropdown
                %a.dropdown-toggle{:href => '#', :'data-toggle' => 'dropdown'}
                  = I18n.t("menu.#{key.gsub(" ","_").downcase}")
                  %b.caret
                %ul.dropdown-menu
                  - values.each do |key, value|
                    - unless /http:\/\//.match(value)
                      - value = "/#{value}"
                    %li= link_to I18n.t("menu.#{key.gsub(" ","_").downcase}"), value
            - else
              %li{class:('active' if request.path.delete('/') == key)}
                = link_to I18n.t("menu.#{key.gsub(" ","_").downcase}"), "/#{key.downcase}"
      #language
        - other_locale = english? ? "nl" : "en"
        = link_to (t 'landing_page.other_language'), { locale: other_locale }, { class: other_locale }
