!!! 5
%html
  %head
    %title
      Energy Transition Model
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

%body{id: "#{ controller_name }_#{ action_name }", data: { spy: 'scroll', target: '.sidebar' } }

  = render 'layouts/navbar'

  = yield :breadcrumb

  .container

    = yield

  = render 'layouts/footer'

  = render 'layouts/ga' unless Rails.env.development?
