!!! 5
%html
  %head
    %title
      Energy Transition Model
    %script{src: "https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=sunburst"}
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

%body{id: "#{ controller_name }_#{ action_name }", data: { spy: 'scroll', target: '.sidebar' } }

  = render 'layouts/navbar'

  = yield :breadcrumb
  = yield

  = render 'layouts/footer'
  = render 'layouts/ga' unless Rails.env.development?
